@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500;600;700&display=swap');

:root{
    --main-color :  #217713;
    --second-color : #FFA451;
    --body-color : #D0FCFF;

    --main-font:'Open Sans', sans-serif;
    --heading-font : 'Raleway', sans-serif;

}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
    
}

body{
    background-color: #CAF8D4;
    width: 100%;
}

.navbar .navbar-wrapper{
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section{
    margin-top: 60px;
}

header{
    margin-top: 50px;
}

.container{
    max-width: 100%;
}
.navbar-wrapper .menu-toggle{
    display: none;
}
.navbar .logo{
    font-size: 30px;
    font-family: var(--heading-font);
    color: var(--main-color);
    font-weight: 600;
}

.navbar .logo span{
    font-size: 20px;
    font-family: var(--heading-font);
    color: var(--second-color);
}

.navbar .menu-wrapper {
    display: flex;
    gap: 50px;

}
.navbar .menu-wrapper .menu {
    display: flex;
    gap: 70px;  
}
.navbar .menu-wrapper .menu .menu-link{
    font-size: 20px;
    font-family: var(--heading-font);
    font-weight: 500;
    color: var(--main-color);
    
}
.navbar .menu-wrapper .menu .menu-link.active{
    color: var(--second-color);
    font-weight: 700;
}

/* Home Start */

.home-wrapper .content-home{
 margin-left: 15px;   
}

.home-wrapper .heading-home{
    color: var(--second-color);
    font-size: 40px;
    font-family: var(--main-font);
    font-weight: 700;
}

.home-wrapper .heading-home span{
    color:var(--main-color);
    font-size: 30px;
 
}

.home-wrapper .subheading-home{
    font-family: var(--main-font)   ;
    opacity: 50%;
    font-size: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
    max-width: 800px;
    font-weight: 500;
}



/*  Project */

.project-wrapper{
    margin-left: 15px;
}

.project-wrapper .content-project{

}
.project-wrapper .row1-project .heading{
  font-size: 20px;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 700;
  
}

.project-wrapper .swipper-container{
    margin-top: 40px;
    

}

.project-wrapper .row1-project .gallery-img{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.project-wrapper .heading i{
    color: var(--second-color);
    padding-left: 20px;
    margin-bottom: 20px;
}
.project-wrapper .card-product{
    position: relative;
    width: 400px;
    border-radius: 20px;
    overflow-y: hidden;
}

.project-wrapper .card-product img{
    width: 100%;
}


.row1-project .detail-product{
    background-color: rgba(245, 222, 179, 0.242);
    position: absolute;
    bottom: -90%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    border-radius: 20px;
    border: 3px solid white;
    backdrop-filter: blur(3px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.42);
    transition: .5s ease-in-out;    
}
.card-product:hover .detail-product{
    bottom: 0;
    transition: .5s ease-in-out;

}



.detail-product .label-category{
    padding: 5px 10px;
    background-color: var(--second-color);
    color: white;
    border-radius: 5px;
    font-family: var(--heading-font);
    margin-bottom: 10px ;
    text-align: center;
}



.detail-product .title-card p{
    font-size: 30px;
    font-weight: 800;
    font-family: var(--heading-font);
    color: rgba(0, 0, 0, 0.747);
}

.detail-product .review{
    display: flex;
    gap: 10px;

}

.review i{
    color: yellow;
}
.detail-product .body-card{
    margin: 25px 0;
    color: #00000080;
    font-weight: 400;
    font-family: var(--heading-font);
}
.detail-product .btn-product{
    background-color: var(--second-color);
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    font-family: var(--heading-font);
}
.btn-product a{
    color: white;
}



/* Project End */
.footer .footer-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 15px;
    justify-content: start;
}

.footer-wrapper .content-left .heading-footer{
    color: var(--main-color);
    font-family: var(--heading-font);
    font-size: 40px;
}
.footer-wrapper .content-left .heading-footer span{
    color: var(--second-color);
    font-size: 30px;
    font-weight: 700;
}
.content-left  .subheading-footer{
    font-size: 15px;
    font-weight: 400;
    color: #00000080;
    flex-wrap: wrap;
    width: 350px;
    font-family: var(--heading-font);
}

.content-left .sosialmedia,.sosialmedia a {
    display: flex;
    justify-content: start;
    gap: 50px;
    margin: 30px auto;
    color: var(--main-color);
}

.content-left .sosialmedia i{
    font-size: 55px;
}

.content-left .copyright{
    display: flex; 
    flex-wrap: wrap;   
    width: 400px;
}
.content-left .copyright p{
    font-size: 14px;
    color: black;
    font-weight: 300;
    flex-wrap: wrap;
    width: 311px;
}
.content-left .copyright i{
    font-size: 15px;
    padding: 0px 5px;
}


.footer .content-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    gap: 20px;
    
}

.footer .content-right .heading-more, .heading-porto, .heading-feedback{
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color);
    font-family: var(--heading-font);
}

.footer .content-right .about a, .porto a{
    display: flex;
    padding: 15px;
    color: #00000099;
}
.footer .content-right .about a:hover{
    color: var(--main-color);
}
.footer .content-right .porto a:hover{
    color: var(--main-color);
}

.footer .feedback{
    padding: 15px;
}

.footer .send-email{
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.footer input {
    width: 245px;
    font-size: 10px;
    font-size: 400;
    border: none;
}

.footer input:focus{
    outline: none;
}

.footer .btn-submit{
    padding: 5px 15px;
    background-color: var(--second-color);
    border-radius: 10px;
    font-size: 14px;
}
.footer .btn-submit:hover{
    background-color: grey;
}
.footer .send-email a{
    color: white;
    font-family: var(--heading-font);
}

.footer .content-left{
    flex: 0 0 40%;
}

.footer .content-right{
    flex: 0 0 60%;
}

@media screen and (max-width:960px){


    
    .menu-wrapper .menu .menu-link{
        font-size: 1rem;
        color: white;
    }

    .navbar-wrapper .menu-toggle{
        display: initial;
        font-size: 2.5rem;
        color: var(--main-color)r;
    }

  
}

@media screen and (max-width:769px) {
    .navbar{
        margin-top: 40px;
    }

    .project-wrapper{
        margin:auto;
    }

    .project-wrapper .heading {
        margin-left: 15px;
    }
    
    .project-wrapper .card-product{
        position: relative;
        width: 300px;
        border-radius: 20px;
        overflow-y: hidden;
    }
 
    .card-product:hover .detail-product{
        bottom: 0;
        transition: .5s ease-in-out;
    
    }
    
    .detail-product .category{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .detail-product .label-category{
        background-color: var(--second-color);
        color: white;
        border-radius: 5px;
        font-family: var(--heading-font);
        font-size: 14px;
    }
    
    .project-wrapper .row1-project .gallery-img{
        display: grid;
        gap: 30px;
        justify-content: center;
        margin-top: 20px;
    }

    
    .detail-product .title-card p{
        font-size: 18px;
        font-weight: 800;
        font-family: var(--heading-font);
        color: rgba(0, 0, 0, 0.955);
        flex-wrap: wrap;
    }
    
    .detail-product .review{
        display: flex;
        gap: 5px;
    
    }
    
    .review i{
        color: yellow;
    }
    .detail-product .body-card{
        font-size: 15px;
        margin: 25px 0;
        color: #00000080;
        font-weight: 400;
        font-family: var(--heading-font);
    }
    .detail-product .btn-product{
        background-color: var(--second-color);
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        font-family: var(--heading-font);
    }
    .btn-product a{
        color: white;
    }

    .home-wrapper .sub-heading{
        width: auto;
        flex-wrap: wrap;
    }

    .project-wrapper .toggle-slider i{
        padding-top: 20px;
    }

    .row1-project .detail-product{
        background-color: rgba(245, 222, 179, 0.242);
        position: absolute;
        bottom: -80%;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px;
        border-radius: 20px;
        border: 3px solid white;
        backdrop-filter: blur(3px);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.42);
        transition: .5s ease-in-out;    
    }

    .home-wrapper{
        margin: auto;
    }
    .home-wrapper .subheading-home{
        width: 350px;
    }

    .footer-wrapper .about{
        margin-top: 20px;
    }
    .home-wrapper .subheading-home{
        font-family: var(--main-font)   ;
        opacity: 50%;
        font-size: 15px;
        margin-top: 20px;
        flex-wrap: wrap;
        max-width: 300px;
        font-weight: 500;
    }
    .project-wrapper .row1-project .heading{
        font-size: 15px;
        color: var(--main-color);
        font-family: var(--main-font);
        font-weight: 700;
        
      }
      .content-left  .subheading-footer{
        font-size: 15px;
        font-weight: 400;
        color: #00000080;
        flex-wrap: wrap;
        width: 350px;
        font-family: var(--heading-font);
    }
    
    .content-left .sosialmedia,.sosialmedia a {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: 30px auto;
        color: var(--main-color);
    }
    
    .content-left .sosialmedia i{
        font-size: 35px;
    }
    
    .content-left .copyright{
        display: flex; 
        flex-wrap: wrap;   
        width: 350px;
    }
    .content-left .copyright p{
        font-size: 14px;
        color: black;
        font-weight: 300;
        flex-wrap: wrap;
        width: 300px;
    }
    .content-left .copyright i{
        font-size: 15px;
        padding: 0px 5px;
    }
    .home-wrapper .sub-heading{
        color: #00000080;
        width: 350px;
        margin-top: 20px;
    }
    
    .service-wrapper .label-skill{
        font-size: 15px;
        font-weight: 600px;
        font-family: var(--heading-font);
        color: var(--second-color);
    }

    .service-wrapper .heading-skill{
        font-size: 25px;
        font-weight: 700;
        font-family: var(--heading-font);
        color: #00000085;

    }

    .service-wrapper .subheading-skill{
        font-size: 10px;
        font-family: var(--heading-font);
        font-weight: 400;
        color: #00000075;

    }
    .box-career .box i{
        color: var(--second-color);
        font-size: 30px;
    }
}

@media screen and (max-width:450px){

    .navbar{
        margin-top: 40px;
    }

    .project-wrapper{
        margin:auto;
    }

    .project-wrapper .heading {
        margin-left: 15px;
    }
    
    .project-wrapper .card-product{
        position: relative;
        width: 300px;
        border-radius: 20px;
        overflow-y: hidden;
    }
     
    .row2 .detail-product{
        background-color: rgba(245, 222, 179, 0.242);
        position: absolute;
        bottom: -50%;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px;
        border-radius: 20px;
        border: 3px solid white;
        backdrop-filter: blur(3px);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.42);
        transition: .5s ease-in-out;    
    }
    .card-product:hover .detail-product{
        bottom: 0;
        transition: .5s ease-in-out;
    
    }
    
    .detail-product .category{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .detail-product .label-category{
        background-color: var(--second-color);
        color: white;
        border-radius: 5px;
        font-family: var(--heading-font);
        font-size: 14px;
    }
    
    .project-wrapper .row1-project .gallery-img{
        display: grid;
        gap: 30px;
        justify-content: center;
        margin-top: 20px;
    }

    
    .detail-product .title-card p{
        font-size: 18px;
        font-weight: 800;
        font-family: var(--heading-font);
        color: rgba(0, 0, 0, 0.955);
        flex-wrap: wrap;
    }
    
    .detail-product .review{
        display: flex;
        gap: 5px;
    
    }
    
    .review i{
        color: yellow;
    }
    .detail-product .body-card{
        font-size: 15px;
        margin: 25px 0;
        color: #00000080;
        font-weight: 400;
        font-family: var(--heading-font);
    }
    .detail-product .btn-product{
        background-color: var(--second-color);
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        font-family: var(--heading-font);
    }
    .btn-product a{
        color: white;
    }

    .home-wrapper .sub-heading{
        width: auto;
        flex-wrap: wrap;
    }

    .project-wrapper .toggle-slider i{
        padding-top: 20px;
    }
    .row1-project .detail-product{
        background-color: rgba(245, 222, 179, 0.242);
        position: absolute;
        bottom: -80%;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px;
        border-radius: 20px;
        border: 3px solid white;
        backdrop-filter: blur(3px);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.42);
        transition: .5s ease-in-out;    
    }

    .home-wrapper{
        margin: auto;
    }
    .home-wrapper .subheading-home{
        width: 350px;
    }

    .footer-wrapper .about{
        margin-top: 20px;
    }
    .home-wrapper .subheading-home{
        font-family: var(--main-font)   ;
        opacity: 50%;
        font-size: 15px;
        margin-top: 20px;
        flex-wrap: wrap;
        max-width: 300px;
        font-weight: 500;
    }
    .project-wrapper .row1-project .heading{
        font-size: 15px;
        color: var(--main-color);
        font-family: var(--main-font);
        font-weight: 700;
        
      }
      .content-left  .subheading-footer{
        font-size: 15px;
        font-weight: 400;
        color: #00000080;
        flex-wrap: wrap;
        width: 350px;
        font-family: var(--heading-font);
    }
    
    .content-left .sosialmedia,.sosialmedia a {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: 30px auto;
        color: var(--main-color);
    }
    
    .content-left .sosialmedia i{
        font-size: 35px;
    }
    
    .content-left .copyright{
        display: flex; 
        flex-wrap: wrap;   
        width: 350px;
    }
    .content-left .copyright p{
        font-size: 14px;
        color: black;
        font-weight: 300;
        flex-wrap: wrap;
        width: 300px;
    }
    .content-left .copyright i{
        font-size: 15px;
        padding: 0px 5px;
    }
    .home-wrapper .sub-heading{
        color: #00000080;
        width: 350px;
        margin-top: 20px;
    }
    
    .service-wrapper .label-skill{
        font-size: 15px;
        font-weight: 600px;
        font-family: var(--heading-font);
        color: var(--second-color);
    }

    .service-wrapper .heading-skill{
        font-size: 25px;
        font-weight: 700;
        font-family: var(--heading-font);
        color: #00000085;

    }

    .service-wrapper .subheading-skill{
        font-size: 10px;
        font-family: var(--heading-font);
        font-weight: 400;
        color: #00000075;

    }
    .box-career .box i{
        color: var(--second-color);
        font-size: 30px;
    }
}